<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="rrbot">

  <!-- copy and paste the contents of "rrbot_macro.xacro" here -->
  <xacro:include filename="inertials.xacro" />
  <xacro:include filename="materials.xacro" />
  <xacro:include filename="rrbot_macro.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world" />

  <!-- run rrbot macro with parameters -->
  <xacro:rrbot parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />   <!-- position robot in the world -->
  </xacro:rrbot>

</robot>
